<p id="who">
  <strong>Who:</strong>
  The course is aimed at:
  <ul>
<li>All health care professionals - whether you are an allied health professional, nurse, pharmacist, health care scientist or doctor. </li>
<li>Clinical or non clinical researchers, at any career stage. </li>
<li>Those working in industry that use health data</li>
<li>PhD students</li>
</ul>

Please note priority to training will be given to health care professionals, researchers and industry partners first. 
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
